<h1> Blog_1</h1>
<h2> Write, Delete, Update...</h2>


<% @posts.each do |post| %>
  <li>  
        <%=post.writer%> 
        <a href="/blog/destroy?id=<%=post.id%>">delete</a>
        <a href="/blog/edit?id=<%=post.id%>">edit</a>
        <p><%=post.updated_at%></p>
        <pre><%=post.content%> </pre>
        
  </li>
<% end %>

<form action="/blog/create">
    id:      <input type="text" name="irum" placeholder="작성자"><br><br>
    message: <textarea name="naeyong"></textarea><br>
    <input type="submit" value="submit">
</form>
<br>

 